body {
    background-color: #e8ebe4;
}

nav {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e8ebe4;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li{
    display: inline;
    text-align: center;
    padding-left: 50px;
}

nav a {
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    border-top: solid 2px #f7921d;
    border-bottom: solid 2px #f7921d;
    color: black;
    
}

nav a:hover {
    animation-name: nav-hover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes nav-hover {
    100% {
        transform: scale(1.2);
    }
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form {
    font-family: 'Lato', sans-serif;
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    margin-bottom: 20px;
    width: 99%;
  }