body {
    background-color: #e8ebe4;
}

nav {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e8ebe4;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li{
    display: inline;
    text-align: center;
    padding-left: 50px;
}

nav a {
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    border-top: solid 2px #f7921d;
    border-bottom: solid 2px #f7921d;
    color: black;
    
}

nav a:hover {
    animation-name: nav-hover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes nav-hover {
    100% {
        transform: scale(1.2);
    }
}

.logo {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.card-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 5%;
}

.full-card {
    width: 245px;
    height: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5% 10px 5px;
    padding: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.image-frame img {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 100%;
    margin: 10px 5px 10px 50%;
    padding: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#personal {
    color: #e8ebe4;
    background-color: #264653;
}

#affordable .full-card {
    margin: 10px 5px 10px 5%;
}

#affordable .image-frame img {
    margin: 10px 7rem 10px 5px;
}

#qualified {
    color: #e8ebe4;
    background-color: #357266;
}

#secure .full-card {
    margin: 10px 5px 10px 5%;
}

#secure .image-frame img {
    margin: 10px 7rem 10px 5px;
}